go 1.25.0

use (
	./analytics-service
	./api-gateway
	./auth-service
	./convert-from-pdf
	./convert-to-pdf
	./document-service
	./job-service
	./notification-service
	./optimize-pdf
	./organize-pdf
	./shared
	./user-service
)
